# **import libraries and download data**

In [0]:
import pandas as pd

In [30]:
df = pd.read_csv('data.csv')
df = df.drop('Unnamed: 0' , 1)
postcode_data = pd.read_csv('Geospatial_Coordinates.csv')
df.head()

  Postcode           Borough                     Neighbourhood
0      M3A        North York                         Parkwoods
1      M4A        North York                  Victoria Village
2      M5A  Downtown Toronto                      Harbourfront
3      M6A        North York  Lawrence Heights, Lawrence Manor
4      M7A  Downtown Toronto                      Queen's Park

# **Create latitude and longitude columns**

In [0]:
Latitude = list()
Longitude = list()
for i in range(len(df)):
  for j in range(len(postcode_data)):
    if df['Postcode'][i] == postcode_data['Postal Code'][j] :
      Latitude.append(postcode_data['Latitude'][j])
      Longitude.append(postcode_data['Longitude'][j])
df['Latitude'] = Latitude
df['Longitude'] = Longitude

# **Display data**

In [34]:
df

    Postcode           Borough  ...   Latitude  Longitude
0        M3A        North York  ...  43.753259 -79.329656
1        M4A        North York  ...  43.725882 -79.315572
2        M5A  Downtown Toronto  ...  43.654260 -79.360636
3        M6A        North York  ...  43.718518 -79.464763
4        M7A  Downtown Toronto  ...  43.662301 -79.389494
..       ...               ...  ...        ...        ...
98       M8X         Etobicoke  ...  43.653654 -79.506944
99       M4Y  Downtown Toronto  ...  43.665860 -79.383160
100      M7Y      East Toronto  ...  43.662744 -79.321558
101      M8Y         Etobicoke  ...  43.636258 -79.498509
102      M8Z         Etobicoke  ...  43.628841 -79.520999

[103 rows x 5 columns]

# **Export data frame in a csv file**

In [0]:
df.to_csv('new_data.csv')